

.meals{
    width: 60%;
    background-color: rgb(255, 255, 255);
    color: black;
    z-index: 5;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 5rem;
}

.list{
    width: 100%;
}

.list li:last-child{
    border: none;
}