.item{
    list-style: none;
    border-bottom: 2px solid rgba(85, 79, 79, 0.593);
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.itemContent {
    display: flex;
    flex-direction: column;
}

.meal-name{
    font-size: x-large;
    font-weight: bold;
}

.meal-description{
    font-style: italic;
    font-size: large;
}

.meal-price{
    font-size: x-large;
    color: rgb(148, 26, 26);
    font-weight: bolder;
}


@media (max-width: 700px) {
    .meal-name{
        font-size: large;
    }
    .meal-description{
        font-size: medium;
    }
    .meal-price{
        font-size: large;
    }
  }


  @media (max-width: 600px) {
    .meal-name{
        font-size: small;
    }
    .meal-description{
        font-size: x-small;
    }
    .meal-price{
        font-size: small;
    }
  }