.item{
    list-style: none;
    border-bottom: 2px solid rgba(85, 79, 79, 0.593);
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.meal-name{
    font-size: x-large;
    font-weight: bold;
}

.meal-description{
    font-style: italic;
    font-size: large;
}

.meal-price{
    font-size: x-large;
    color: rgb(148, 26, 26);
    font-weight: bolder;
}